<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>TRXBank去中心化银行</title>
    <link rel="stylesheet" href="css/odometer-theme-digital.css" />
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="icon" href="images/favicon.png" type="image/png" />
    <meta name="upline" content="TSEQaVmvdpP6E5fwUwSzWRXHhLawWjYaH1" />
    <style>
      [v-cloak] {
        display: none;
      }
    </style>
  </head>

  <body>
    <main id="App" v-cloak>
      <div class="header">
        <div class="header__wrap">
          <div class="header__item" v-if="tron.account">
            <img src="./images/logo.png" width="45" alt="">
            <div class="header__label">您的Tron钱包</div>
            <div class="header__value"><span v-text="tron.account"></span></div>
          </div>
          <div class="header__grow"></div>
          <div class="header__item">
            <div class="header__label">系统语言</div>
            <div class="header__value lang">
              <div> <img src="images/zh.svg" />中国</div>
              <ul>
                <li>
                  <a href="en.html"> <img src="images/en.svg" />美国</a>
                </li>
                <li>
                  <a href="j.html"> <img src="images/j.svg" />加拿大</a>
                </li>
                <li>
                  <a href="index.html"><img src="images/zh.svg" /> 中国</a>
                </li>
                <li>
                  <a href="zh.html"><img src="images/zh.svg" /> 繁体</a>
                </li>
                <li>
                  <a href="kr.html"><img src="images/kr.svg" /> 韩语</a>
                </li>
                <li>
                  <a href="jp.html"><img src="images/jp.svg" /> 日语</a>
                </li>
                <li>
                  <a href="y.html"> <img src="images/y.svg" />英国</a>
                </li>
                <li>
                  <a href="f.html"> <img src="images/f.svg" />菲律宾</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <section class="section-top">
        <!--<img class="top-logo" src="images/logo.png" width="96" />-->
        <img class="top-heading" src="images/logo-desktop.png" />
        <!--<img class="top-heading-mobile" src="images/logo-mobile.png" />-->
        <div class="container" v-show="tab == 'main'">
          <p class="feature-desc"> 一个智能合约的技术建立在金融系统上。它是公开、公证、透明、不可篡改的。</p>
          <div class="counter-wrapper">
            <span>$</span>
            <div class="odometer" ref="odometer">
              {{ contract.balance * rates.trx }}
            </div>
          </div>
          <p class="trx-desc">
            世界上第一个以去中心化分布式的,世界上第一个以去中心化分布式智能合约的社区支助基金会
          </p>
          <div class="menu">
            <div>
              <button class="button btn" @click.prevent="tab = 'tutorial'">如何加入</button>
            </div>
            <div>
              <button class="button btn" @click.prevent="tab = 'guide'">指南</button>
            </div>
            <div>
              <button
                class="button btn"
                @click.prevent="getPoolTopInfo(); tab = 'top'"
              >全球四名排行榜冠军</button>
            </div>
          </div>
        </div>
      </section>
      <section class="section calc bg-hidden" v-show="tab == 'main'">
        <div class="container">
          <h2 class="join">加入</h2>
          <div class="panel-join">
            <div class="panel-join-display">
              <span>{{ deposit_amount.toFixed(0) }}</span><span>TRX</span>
            </div>
            <div class="panel-join-values">
              <a href="#" @click.prevent="deposit_amount += 100">+ 100 TRX</a>
              <a href="#" @click.prevent="deposit_amount += 1000">+ 1K TRX</a>
              <a href="#" @click.prevent="deposit_amount += 10000">+ 10K TRX</a>
              <a href="#" @click.prevent="deposit_amount += 30000">+ 30K TRX</a>
              <a href="#" @click.prevent="deposit_amount += 50000">+ 50K TRX</a>
              <a href="#" @click.prevent="deposit_amount += 100000">+ 100K TRX</a>
            </div>
            <div class="panel-join-controls">
              <button class="button" @click="deposit_amount = 0">撤销</button>
              <button class="button btn" @click="deposit()">加入</button>
            </div>
          </div>
          <p>
            加入您需要使用的項目<br/>TRON錢包
            <a href="/guide/" @click.prevent="tab = 'guide'">更多</a>
          </p>
        </div>
      </section>
      <section class="section" v-show="tab == 'main'">
        <div class="container">
          <h2>statistics</h2>
          <div class="panel-info">
            <h3>智能合约</h3>
            <div class="pabel-list">
              <div class="panel-info-item">
                <span>智能合约地址</span>
                <a
                  :href="'https://tronscan.org/#/contract/' + contract_address"
                  target="_blank"
                  >{{ contract_address.substr(0, 8) }}...</a
                >
              </div>
              <div class="panel-info-item">
                <span>合约存款TRX总数</span
                ><span class="ether-value"
                  >{{ safe(contract.total_deposited.toLocaleString()) }}
                  TRX</span
                >
              </div>
              <div class="panel-info-item">
                <span>智能合约TRX结余</span
                ><span class="ether-value"
                  >{{ safe(contract.balance.toLocaleString()) }} TRX</span
                >
              </div>
              <!--<div class="panel-info-item">-->
                <!--<span>会员提币数量</span-->
                <!--&gt;<span class="ether-value"-->
              <!--&gt;{{ safe(contract.total_withdraw.toLocaleString()) }} TRX</span-->
              <!--&gt;-->
              <!--</div>-->
              <div class="panel-info-item">
                <span>会员总人数</span
                ><span class="ether-value"
                  >{{ safe(contract.total_users.toLocaleString()) }} 人</span
                >
              </div>
              <!--<div class="panel-info-item"><span>每天1%奖励发放总数</span><span class="ether-value">{{ safe(contract.pool_balance.toLocaleString()) }} TRX</span>-->
              <!--</div>-->
              <!--<div class="panel-info-item"><span>Daily pool countdown</span><span class="ether-value"-->
              <!--v-timer="contract.pool_last_draw * 1000">00:00:00</span>-->
              <!--</div>-->
              <!--<div class="panel-info-item"><span>全球总数奖励池</span><span class="ether-value">{{ safe(contract.pool_lider.toLocaleString()) }} TRX</span>-->
              <!--</div>-->
              <div class="panel-info-item">
                <span>推荐人地址</span
                ><a
                  v-if="tron.account && (user.upline || upline)"
                  :href="'https://tronscan.org/#/address/' + (user.upline || upline)"
                  target="_blank"
                  >{{ (user.ref || ref).substr(0, 8) }}...</a
                ><span
                  class="ether-value"
                  v-if="!(tron.account && (user.upline || ref))"
                  >---</span
                >
              </div>
            </div>
          </div>
          <div class="panel-info">
            <h3>个人统计信息</h3>
            <div  class="pabel-list">
              <div class="panel-info-item">
                <span>你的合约地址</span><a
                  v-if="tron.account"
                  :href="'https://tronscan.org/#/address/' + tron.account"
                  target="_blank"
                  >{{ tron.account.substr(0, 8) }}...</a
                ><span v-if="!tron.account" class="ether-value">---</span>
              </div>
              <div class="panel-info-item">
                <span>您当前的每日利润</span><span class="ether-value">+{{ safe(user.d.toLocaleString()) }}%</span>
              </div>
              <div class="panel-info-item">
                <span>总投资</span
                ><span class="ether-value"
                  >{{ safe(user.totalInvest.toLocaleString()) }} TRX</span
                >
              </div>
              <div class="panel-info-item">
                <span>存款数量</span><span class="ether-value">{{ safe(user.e.toLocaleString()) }}</span>
              </div>

              <div class="panel-info-item">
                <span>最后存款的节日</span><span class="ether-value">{{ safe(user.f) }}</span>
              </div>
              <div class="panel-info-item">
                <span>合约奖金</span><span class="ether-value">+{{ safe(user.i.toLocaleString()) }}%</span>
              </div>

              <div class="panel-info-item">
                <span>200%回馈总额</span
                ><span class="ether-value"
                  >{{ safe((parseFloat(user.a)+parseFloat(user.c)).toLocaleString()) }} TRX</span
                >
              </div>
              <div class="panel-info-item">
              <span>直接推荐奖励</span
              ><span
              class="ether-value"
              >{{safe(user.r3)}} TRX</span>
              </div>
              <div class="panel-info-item">
                <span>动态奖励</span><span class="ether-value">{{ safe(user.dc.toLocaleString()) }} TRX</span>
              </div>
              <div class="panel-info-item">
              <span>团队收益奖励</span
              ><span
              class="ether-value"
              >{{safe(user.r4)}} TRX</span>
              </div>
              <div class="panel-info-item">
                <span>总提币数量</span
                ><span class="ether-value"
                  >{{ safe(user.c.toLocaleString()) }} TRX</span
                >
              </div>

              <div class="panel-info-item">
              <span>未提币数量（10天不提取收益增加5%）</span
              ><span class="ether-value"
              >{{ safe(user.a.toLocaleString()) }} TRX</span
              >
              </div>

              <!--<div class="panel-info-item">-->
                <!--<span>持有-奖金</span><span class="ether-value">+{{ safe(user.h.toLocaleString()) }}%</span>-->
              <!--</div>-->

              <div class="panel-info-item-btn">
                <a class="btn" href="#" @click.prevent="withdraw()">提币</a>
              </div>
            </div>
          </div>
          <div class="panel-info">
            <h3>统计数据</h3>
            <div class="pabel-list">
              <div class="panel-info-item">
                <span>总存TRX币的数量</span><span
                  class="ether-value"
                >{{safe(user.totalInvest.toLocaleString())}} TRX</span>
              </div>
              <div class="panel-info-item">
                <span>总提TRX币的数量</span><span
                  class="ether-value"
                >{{safe(contract.total_withdraw.toLocaleString())}} TRX</span>
              </div>
            </div>
          </div>
          <div class="panel-info">
            <h3>组织</h3>
            <div class="pabel-list">
              <div class="panel-info-item">
                <span>邀请链接</span><a
                  class="btn"
                  v-if="tron.account"
                  :href="location.origin + '#ref=' + tron.account"
                  target="_blank"
                  @click.prevent="copyText('https://www.tronbank.cc/#ref=' + tron.account)"
                  >复制</a
                ><span class="ether-value" v-if="!tron.account">---</span>
              </div>
              <div class="panel-info-item">
                <span style="font-size: 12px">https://www.tronbank.cc/#ref={{tron.account.substring(0,5)}}...</span>
              </div>
              <div class="panel-info-item">
                <span>直推人数</span
                ><span class="ether-value" >{{safe(user.r1)}}人</span>
              </div>
              <div class="panel-info-item">
                <span>团队总人数</span
                ><span class="ether-value" >{{safe(user.r5)}}人</span>
              </div>
              <div class="panel-info-item">
                <span>累计推荐人业绩</span
                ><span
                  class="ether-value"
                >{{safe(user.r2)}} TRX</span>
              </div>


            </div>
          </div>
        </div>
      </section>
      <section class="section" v-show="tab == 'guide'">
        <div class="page">
          <h3>指南</h3>
         <p> 欢迎来到世界上第一个基于TRON区块链和智能合约，通过智能合约、分布式账本构建了一个去中心化、公平、公正、公开的去中心化银行，安全可靠、透明的理财平台，</p>

          <p> TRON Bank基于海外各大社区联合多个投资基金的发起平台。所有的社区成员是一个整体，任何参与者所获得的收益均来自其他社区成员，形成“你支持别人，别人支持你”的良性发展闭环，基于所有人的共同努力，营造一个共建共享的社区生态。</p>
          <p> TRON BANK去中心化银行旨在为每个人提供基于智能合约技术的独立财务支持基金，包括以DEFI金融生态的多种服务和支持。</p>

          <p>任何参与者都可以向社区基金捐款 TRX 并支持 TRON BANK社区成员，参与者将激活合同代码，并开始接受其他社区成员的支持。</p>

          <p> 实际上，TRON BANK可以被视为一个分散的"第三方"，根据算法代码确保所有人都能完全公平、透明和公正。</p>

          <p> TRON BANK这里没有调解员或中间人，没有操盘手，没有老板，没有公司，没有首席执行官，是去中心化平台，有效地保证了所有参与合作伙伴和合作伙伴资金的公平性，根据智能合同的规则自动交易，它是目前最合理、最安全、最尖端的金融支持模式。</p>

          <p>您可以通过基金存入最低 100 TRX来参与 TRON BANK，您有资格获得 200%的报酬。</p>
          <p> 200% 报酬以4种方式赚取收益：</p>
          <p> 1、直推奖励</p>
          <p> 2、通过市场分享，</p>
          <p>3、团队业绩收益，</p>
          <p> 4、分红出来资金不提取本金赚取额外收益，</p>

          <p>一、平台将进场资金玩法；</p>
          <p> 第一天进场资金限制100万TRX，后面每天递增100万TRX，直到递增到3000万TRX不在控制进场资金。</p>
          <p> 二、进场资金池游戏规则:</p>
          <p> 资金池按照进场资金进行分配给予利息，利息按照时时分配资金利息。</p>
          <p> 1、静态利润：</p>
          <p> 最低1%利润 ~最高18%利润，每日存款回报，</p>
          <p> 资金池增加100万TRX，日息增加0.5%，</p>
          <p> 资金池递减100万TRX，日息减少0.5%，</p>
          <p> 2、直推分享奖励赚取投资额收益：</p>
          <p> 一代5%</p>
          <p> 二代2%</p>
          <p>3～5代0.5%</p>
          <p> 3、投资VIP玩家有资格享受团队业绩收益奖金，根据自己投资金额拿团队业绩代数奖金，可以原点升级加单。</p>
          <p> 1⃣️VIP入金：10000TRX 拿5代收益5%</p>
          <p> 2⃣️VIP入金：50000TRX拿10代收益10%</p>
          <p> 3⃣️VIP入金：100000TRX拿12代收益15%</p>
          <p> 4⃣️VIP入金：200000TRX拿20代收益20%</p>
          <p> 5⃣️VIP入金：500000TRX拿30代收益25%</p>
          <p>直推越多，收益越高，最高30代，见上文。</p>
          <p>4、本金分红出来的收益，10天不提取，额外将给予5%利润。</p>

          <p> *TRX BANK是一个基于社区的项目，通过智能合约 100% 去中心化的银行</p>
          <p> *每个存款周期为200%回报</p>
          <p> *收到200%的存款后，必须支付新的存款，才能继续从四种方式中的任何一种方式赚取/直推奖励，分享奖励及团队收益。</p>
          <p>*最低入场数量为100 TRX，所有参与者自由存款，投资无封顶。</p>
          <p> *日息最低1%，最高18%日息，每分每秒结算收益，提现无要求、无限制。</p>
          <p>*通过推荐分享TRX BANK去中心化银行，增加社区基金，提高您的回报速度。</p>
          <p> * 管理人员和团队人员正在开发和部署多种 DEFI 服务及更新型技术、加密、营销统一等，以完成支持未来TRON帝国系统的愿景！</p>

          <p>未来，TRON BANK将构建一个全球化的金融帝国，无缝对接传统金融，推动全球金融发展，实现更广泛的经济价值和社会价值。</p>
          <p>来吧，加入TRON BANK，开启你的财富密码吧！</p>
          <br /><a href="/" @click.prevent="tab = 'main'">退回</a>
        </div>
      </section>
      <section class="section" v-show="tab == 'tutorial'">
        <div class="page">
          <h3>参加方法</h3>

          <p> 要参加TRON BANK，您必须使用以下Dapp钱包之一：</p>

          <p>要连接到智能合约，请按照以下步骤下载，设置您的首选钱包并为其充值。</p>

          <p>*您必须使用推荐链接来存放您的第一个TRON BANK智能合约。请返回介绍TRONBANK的人。</p>

          <p>对于TRON BANK分散银行，您必须使用以下DAPP钱包之一：</p>

          <p> TRON银行可以使用钱包下载链接：</p>

          <p>TokenPocket钱包（推荐）：</p>

          <p>https://www.mytokenpocket.vip/</p>

          <p> imToken钱包：</p>

          <p>https://token.im</p>

          <p>Math Wallet：</p>

          <p>https://mathwallet.org/zh-cn/</p>

          <p>Huobi Wallet：</p>

          <p> https://www.huobiwallet.com</p>

          <p> 可以使用其他支持DAPP的分布式钱包。</p>

          <p> TRONWALLET是安全的p2p加密钱包，可用于TRON（TRX）支付</p>

          <p> 下载TRON WALLET并将其设置为手机</p>

          <p>使用TRX存入TRON钱包</p>

          <p> 转到钱包的Dapp浏览器并输入参考链接</p>

          <p> 选择您要存入的金额，然后单击添加</p>

          <p> TRONLINK Wallet-PC浏览器扩展</p>

          <p>什么是TRONLINK？</p>

          <p> TRONLINK可以用作浏览器扩展程序和移动应用程序。TronLink提供了管理数字资产所需的所有密钥库，安全登录名和令牌钱包。</p>

          <p>TronLink会在设备上生成密码和密钥，因此只有您才能访问您的帐户和数据</p>

          <p>如何下载TRONLINK浏览器扩展？</p>

          <p>官方网站：https://www.tronbank.cc</p>

          <p>如何将TRONLINK连接到TRONBANK智能合约？</p>

          <p>使用TronLink下载并打开Web浏览器</p>

          <p>输入tronbank.cc（参考链接），然后单击Enter。</p>

          <p>允许TRONLINK钱包连接到tronbank.cc</p>

          <p>*首次加入TRON BANK，请按照以下步骤操作</p>

          <p> 复制赞助商的参考链接</p>

          <p>输入带有TRONLINK扩展名的PC浏览器的参考链接。</p>

          <p>选择您想要存入的金额，最少为100.000TRX。</p>

          <p>点击加入并在钱包中确认您的交易</p>
          <br /><a href="/" @click.prevent="tab = 'main'">退回</a>
        </div>
      </section>
      <section class="section" v-show="tab == 'top'">
        <div class="container">
          <div class="panel-info">
            <h3>全球四名排行榜冠军</h3>
            <div>
              <table
                style="
                  text-transform: none;
                  font-size: 13px;
                  line-height: 2.5;
                  width: 100%;
                "
              >
                <thead>
                  <tr>
                    <th width="60%">地址</th>
                    <th width="20%">TRX</th>
                    <th width="20%">收入</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(v, index) in pool_top">
                    <td v-text="v.address.substr(0, 16) + '..'"></td>
                    <td v-text="v.deposit"></td>
                    <td
                      v-text="(contract.pool_balance / 1000 * [40,30,20,10][index]).toFixed(4)"
                    ></td>
                  </tr>
                </tbody>
              </table>
              <br />
              <div class="panel-info-item">
                <a class="btn" href="#" @click.prevent="tab = 'main'">退回</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--<div class="i-modal" v-if="upmodal.show">-->
        <!--<div class="i-modal__wrap">-->
          <!--<div class="i-modal__close" @click="upmodal.show = false"></div>-->
          <!--<div class="i-modal__body">-->
            <!--<div class="i-modal__title">赞助商</div>-->
            <!--<div class="i-modal__text">-->
              <!--<div v-if="upmodal.edit">-->
                <!--<input-->
                  <!--type="text"-->
                  <!--style="-->
                    <!--color: #000;-->
                    <!--padding: 5px 10px;-->
                    <!--font: 14px;-->
                    <!--border: 1px solid #ccc;-->
                    <!--max-width: 100%;-->
                  <!--"-->
                  <!--size="50"-->
                  <!--v-model="upmodal.upline_edit"-->
                <!--/><br />-->
              <!--</div>-->

              <!--<div v-if="!upmodal.edit" style="text-transform: none">-->
                <!--<span class="addr"-->
                  <!--&gt;{{ upmodal.upline }} &nbsp;&nbsp;&nbsp; </span-->
                <!--&gt;<a href="javascript:void()" @click="upmodal.edit = true"-->
                  <!--&gt;编辑</a-->
                <!--&gt;-->
              <!--</div>-->
              <!--<br />-->
              <!--<button-->
                <!--@click="/^T[1-9A-HJ-NP-Za-km-z]{33}$/i.test(upmodal.upline_edit ? upmodal.upline_edit : upmodal.upline) ? (!(upmodal.show = false) && deposit(upmodal.upline_edit ? upmodal.upline_edit : upmodal.upline)) : null"-->
              <!--&gt;-->
                <!--加入-->
              <!--</button>-->
              <!--<br /><br />-->
              <!--<p style="text-transform: none">-->
                <!--检查你的邀请身份证。 br/>你可以改变它之前进行存款。-->
              <!--</p>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    </main>
    <footer>
      <div class="footer-content">
        <a href="https://t.me/trxbankofficial" target="_blank" class="btn"
          >官方TELEGRAM链接</a
        ><a href="javascript:void(0)"  onclick="javascript:alert('Angelina1659')" class="btn"
          >客服微信号</a
        ><a href="tronbank_zh.pdf" target="_blank" class="btn"
      >审计报告</a
      >
      </div>
    </footer>
    <script src="js/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="js/odometer.min.js"></script>
    <script src="js/common.js"></script>
    <script type="text/javascript">
      (function (m, e, t, r, i, k, a) {
        m[i] =
          m[i] ||
          function () {
            (m[i].a = m[i].a || []).push(arguments);
          };
        m[i].l = 1 * new Date();
        (k = e.createElement(t)),
          (a = e.getElementsByTagName(t)[0]),
          (k.async = 1),
          (k.src = r),
          a.parentNode.insertBefore(k, a);
      })(
        window,
        document,
        "script",
        "https://mc.yandex.ru/metrika/tag.js",
        "ym"
      );



    </script>
    <noscript>
      <div>
        <img
          src="images/66417985.gif"
          style="position: absolute; left: -9999px"
          alt
        />
      </div>
    </noscript>
  </body>
</html>
