<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>TRXBank decentralized banking</title>
    <link rel="stylesheet" href="css/odometer-theme-digital.css" />
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="icon" href="images/favicon.png" type="image/png" />
    <meta name="upline" content="TRgK1L3oZZy2rMpK6rgDrqAtTfr4HnHqQw" />
    <style>
      [v-cloak] {
        display: none;
      }
    </style>
  </head>

  <body>
    <main id="App" v-cloak>
      <div class="header">
        <div class="header__wrap">
          <div class="header__item" v-if="tron.account">
            <img src="./images/logo.png" width="45" alt="">
            <div class="header__label">Your Tron Wallet</div>
            <div class="header__value"><span v-text="tron.account"></span></div>
          </div>
          <div class="header__grow"></div>
          <div class="header__item">
            <div class="header__label">language</div>
            <div class="header__value lang">
              <div><img src="images/j.svg" /> Canada</div>
              <ul>
                <li>
                  <a href="en.html"><img src="images/en.svg" /> English</a>
                </li>
                <li>
                  <a href="index.html"><img src="images/zh.svg" /> Chinese</a>
                </li>
                <li>
                  <a href="zh.html"><img src="images/zh.svg" /> 繁体</a>
                </li>
                <li>
                  <a href="kr.html"><img src="images/kr.svg" /> KR</a>
                </li>
                <li>
                  <a href="jp.html"> <img src="images/jp.svg" />JP</a>
                </li>
                <li>
                  <a href="y.html"> <img src="images/y.svg" />United Kingdom</a>
                </li>
                <li>
                  <a href="j.html"> <img src="images/j.svg" />Canada</a>
                </li>
                <li>
                  <a href="f.html"> <img src="images/f.svg" />Philippines</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <section class="section-top">
        <!--<img class="top-logo" src="images/logo.png" width="96" />-->
        <img class="top-heading" src="images/logo-desktop.png" />
        <!--<img class="top-heading-mobile" src="images/logo-mobile.png" />-->
        <div class="container" v-show="tab == 'main'">
          <p class="feature-desc"> A smart contract technology in China is based on the financial system. It is open, notarized, transparent and unchangeable。</p>
          <div class="counter-wrapper">
            <span>$</span>
            <div class="odometer" ref="odometer">
              {{ contract.balance * rates.trx }}
            </div>
          </div>
          <p class="trx-desc">
            The world's first decentralized distributed community support foundation, the world's first decentralized distributed smart contract
          </p>
          <div class="menu">
            <div>
              <button class="button btn" @click.prevent="tab = 'tutorial'">How to join</button>
            </div>
            <div>
              <button class="button btn" @click.prevent="tab = 'guide'">guide</button>
            </div>

          </div>
        </div>
      </section>
      <section class="section calc bg-hidden" v-show="tab == 'main'">
        <div class="container">
          <h2 class="join">join</h2>
          <div class="panel-join">
            <div class="panel-join-display">
              <span>{{ deposit_amount.toFixed(0) }}</span><span>TRX</span>
            </div>
            <div class="panel-join-values">
              <a href="#" @click.prevent="deposit_amount += 200">+ 200 TRX</a>
              <a href="#" @click.prevent="deposit_amount += 1000">+ 1K TRX</a>
              <a href="#" @click.prevent="deposit_amount += 10000">+ 10K TRX</a>
              <a href="#" @click.prevent="deposit_amount += 30000">+ 30K TRX</a>
              <a href="#" @click.prevent="deposit_amount += 50000">+ 50K TRX</a>
              <a href="#" @click.prevent="deposit_amount += 100000">+ 100K TRX</a>
            </div>
            <div class="panel-join-controls">
              <button class="button" @click="deposit_amount = 0">revoke</button>
              <button class="button btn" @click="deposit()">join</button>
            </div>
          </div>
          <p>
            to join the project you need to use<br />the Tron wallet.
            <a href="/guide/" @click.prevent="tab = 'guide'">read more</a>
          </p>
        </div>
      </section>
      <section class="section" v-show="tab == 'main'">
        <div class="container">
          <h2>statistics</h2>
          <div class="panel-info">
            <h3>Smart contract</h3>
            <div class="pabel-list">
              <div class="panel-info-item">
                <span>Smart contract address</span>
                <a
                  :href="'https://tronscan.org/#/contract/' + contract_address"
                  target="_blank"
                  >{{ contract_address.substr(0, 8) }}...</a
                >
              </div>
              <div class="panel-info-item">
                <span>Total contract deposit TRX</span
                ><span class="ether-value"
                  >{{ safe(contract.total_deposited.toLocaleString()) }}
                  TRX</span
                >
              </div>
              <div class="panel-info-item">
                <span>TRX balance of smart contract</span
                ><span class="ether-value"
                  >{{ safe(contract.balance.toLocaleString()) }} TRX</span
                >
              </div>
              <!--<div class="panel-info-item">-->
                <!--<span>会员提币数量</span-->
                <!--&gt;<span class="ether-value"-->
              <!--&gt;{{ safe(contract.total_withdraw.toLocaleString()) }} TRX</span-->
              <!--&gt;-->
              <!--</div>-->
              <div class="panel-info-item">
                <span>Total number of members</span
                ><span class="ether-value"
                  >{{ safe(contract.total_users.toLocaleString()) }} 人</span
                >
              </div>
              <!--<div class="panel-info-item"><span>每天1%奖励发放总数</span><span class="ether-value">{{ safe(contract.pool_balance.toLocaleString()) }} TRX</span>-->
              <!--</div>-->
              <!--<div class="panel-info-item"><span>Daily pool countdown</span><span class="ether-value"-->
              <!--v-timer="contract.pool_last_draw * 1000">00:00:00</span>-->
              <!--</div>-->
              <!--<div class="panel-info-item"><span>全球总数奖励池</span><span class="ether-value">{{ safe(contract.pool_lider.toLocaleString()) }} TRX</span>-->
              <!--</div>-->
              <div class="panel-info-item">
                <span>Address of recommender</span
                ><a
                  v-if="tron.account && (user.upline || upline)"
                  :href="'https://tronscan.org/#/address/' + (user.upline || upline)"
                  target="_blank"
                  >{{ (user.ref || ref).substr(0, 8) }}...</a
                ><span
                  class="ether-value"
                  v-if="!(tron.account && (user.upline || ref))"
                  >---</span
                >
              </div>
            </div>
          </div>
          <div class="panel-info">
            <h3>Personal statistics</h3>
            <div  class="pabel-list">
              <div class="panel-info-item">
                <span>Your contract address</span><a
                  v-if="tron.account"
                  :href="'https://tronscan.org/#/address/' + tron.account"
                  target="_blank"
                  >{{ tron.account.substr(0, 8) }}...</a
                ><span v-if="!tron.account" class="ether-value">---</span>
              </div>
              <div class="panel-info-item">
                <span>Your current daily profit</span><span class="ether-value">+{{ safe(user.d.toLocaleString()) }}%</span>
              </div>
              <div class="panel-info-item">
                <span>total investment</span
                ><span class="ether-value"
                  >{{ safe(user.totalInvest.toLocaleString()) }} TRX</span
                >
              </div>
              <div class="panel-info-item">
                <span>Amount of deposits</span><span class="ether-value">{{ safe(user.e.toLocaleString()) }}</span>
              </div>

              <div class="panel-info-item">
                <span>The festival of last deposit</span><span class="ether-value">{{ safe(user.f) }}</span>
              </div>
              <div class="panel-info-item">
                <span>Static income</span><span class="ether-value">{{ safe(user.i.toLocaleString()) }}TRX</span>
              </div>

              <div class="panel-info-item">
                <span>200% of total feedback</span
                ><span class="ether-value"
                  >{{ safe((parseFloat(user.a)+parseFloat(user.c)).toLocaleString()) }} TRX</span
                >
              </div>
              <div class="panel-info-item">
              <span>Direct recommendation Award</span
              ><span
              class="ether-value"
              >{{safe(user.r3)}} TRX</span>
              </div>
              <div class="panel-info-item">
                <span>Dynamic reward</span><span class="ether-value">{{ safe(user.dc.toLocaleString()) }} TRX</span>
              </div>
              <div class="panel-info-item">
              <span>Team reward</span
              ><span
              class="ether-value"
              >{{safe(user.r4)}} TRX</span>
              </div>
              <div class="panel-info-item">
                <span>Total withdrawal amount</span
                ><span class="ether-value"
                  >{{ safe(user.c.toLocaleString()) }} TRX</span
                >
              </div>

              <div class="panel-info-item">
              <span>Not withdrawal</span
              ><span class="ether-value"
              >{{ safe(user.a.toLocaleString()) }} TRX</span
              >
              </div>

              <div class="panel-info-item">
              <span>Ten income</span
              ><span class="ether-value"
              >{{ safe(user.tt.toLocaleString()) }} TRX</span
              >
              </div>

              <!--<div class="panel-info-item">-->
                <!--<span>持有-奖金</span><span class="ether-value">+{{ safe(user.h.toLocaleString()) }}%</span>-->
              <!--</div>-->

              <div class="panel-info-item-btn">
                <a class="btn" href="#" @click.prevent="withdraw()">Withdraw money</a>
              </div>
            </div>
          </div>
          <div class="panel-info">
            <h3>statistical data</h3>
            <div class="pabel-list">
              <div class="panel-info-item">
                <span>Total TRX amount</span><span
                  class="ether-value"
                >{{safe(user.totalInvest.toLocaleString())}} TRX</span>
              </div>
              <div class="panel-info-item">
                <span>Total amount of TRX</span><span
                  class="ether-value"
                >{{safe(contract.total_withdraw.toLocaleString())}} TRX</span>
              </div>
            </div>
          </div>
          <div class="panel-info">
            <h3>organization</h3>
            <div class="pabel-list">
              <div class="panel-info-item">
                <span>Invitation link</span><a
                  class="btn"
                  v-if="tron.account"
                  :href="location.origin + '#ref=' + tron.account"
                  target="_blank"
                  @click.prevent="copyText('https://www.tronbank.cc/#ref=' + tron.account)"
                  >copy</a
                ><span class="ether-value" v-if="!tron.account">---</span>
              </div>
              <div class="panel-info-item">
                <span style="font-size: 12px">https://www.tronbank.cc/#ref={{tron.account.substring(0,5)}}...</span>
              </div>
              <div class="panel-info-item">
                <span>Number of direct promotion</span
                ><span class="ether-value" >{{safe(user.r1)}}人</span>
              </div>
              <div class="panel-info-item">
                <span>Total team size</span
                ><span class="ether-value" >{{safe(user.r5)}}人</span>
              </div>
              <div class="panel-info-item">
                <span>Cumulative recommender performance</span
                ><span
                  class="ether-value"
                >{{safe(user.r2)}} TRX</span>
              </div>


            </div>
          </div>
        </div>
      </section>
      <section class="section" v-show="tab == 'guide'">
        <div class="page">
          <h3>Guide</h3>
          <p>Welcome to the world's first decentralized, fair, fair and open decentralized bank based on Tron blockchain and smart contract, and a safe, reliable and transparent financial management platform</p>
          <p>Tron bank is based on the launching platform of overseas major communities and multiple investment funds. All the members of the community are a whole, and the income of any participant comes from other community members, forming a virtuous development closed loop of "you support others, others support you". Based on the joint efforts of all people, a community ecology of co construction and sharing will be created. </p>
          <p>The purpose of Tron bank decentralized banking is to provide independent financial support fund based on smart contract technology for everyone, including a variety of services and support based on defi financial ecology. </p>
          <p>Any participant can contribute TRX to the community fund and support the Tron bank community members. The participant will activate the contract code and begin to receive support from other community members. </p>
          <p>In fact, Tron bank can be seen as a decentralized "third party" that ensures that everyone is completely fair, transparent and impartial according to the algorithmic code. </p>
          <p>There is no mediator or middleman, no operator, no boss, no company, no CEO in Tron bank. It is a decentralized platform, which effectively ensures the equity of all participating partners and partners' funds. According to the rules of smart contracts, Tron bank is the most reasonable, safest and most cutting-edge financial support mode. </p>
          <p>You can participate in Tron bank by depositing a minimum of 100 TRX in the fund, and you are eligible for 200% of the remuneration. </p>
          <p>The 200% reward can be earned in four ways:</p>
          <p>1. Direct promotion reward</p>
          <p>2. Through market sharing</p>
          <p>3. Team performance gains</p>
          <p>4. The capital from dividends does not draw the principal to earn additional income</p>
          <p>1、 The platform will enter the capital play method</p>
          <p>On the first day, the entry fund is limited to 1 million TRX, and then increased by 1 million TRX every day until it is increased to 30 million. TRX is not in control of the mobilization funds. </p>
          <p>2、 Rules of access fund pool:</p>
          <p>The fund pool allocates the interest according to the incoming funds, and the interest is distributed from time to time. </p>
          <p>1. Static profit:</p>
          <p>Minimum 1% profit to maximum 18% profit, daily deposit return</p>
          <p>The fund pool increased by 1 million TRX and daily interest increased by 0.5%</p>
          <p>The fund pool decreased by 1 million TRX and daily interest decreased by 0.5%</p>
          <p>2. Direct promotion and sharing reward to earn investment income:</p>
          <p>Generation 5%</p>
          <p>Second generation 2%</p>
          <p>3-5 generations 0.5%</p>
          <p>3. VIP players who invest in VIP are eligible to enjoy the team performance bonus. They can get the team performance algebraic bonus according to their own investment amount, and can upgrade and add orders at the origin. </p>
          <p>  1⃣ VIP deposit: 10000 TRX will get 5% of the income of 5 generations</p>
          <p>  2⃣ VIP deposit: 50 000 TRX will get 10% income</p>
          <p>  3⃣ VIP deposit: 100 000 TRX gets 15% of the 12 generation income</p>
          <p>  4⃣ VIP deposit: 20% income from 20 generation of RMB 200000 TRX</p>
          <p>  5⃣ VIP deposit: 500000trx will get 25% of 30 generation income</p>
          <p>The more direct push, the higher the income, up to 30 generations, see above. </p>
          <p>4. Principal dividends out of the income, 10 days do not draw, an additional 5% profit will be given. </p>
          <p>* TRX bank is a community-based project with 100% decentralized banking through smart contracts</p>
          <p>* 200% return per deposit cycle</p>
          <p>* after receiving 200% of the deposits, new deposits must be paid before continuing to earn / push rewards from any of the four ways, sharing rewards and team benefits. </p>
          <p>*The minimum number of admission is 100 TRX, all participants are free to deposit and there is no cap on investment. </p>
          <p>* the minimum daily interest rate is 1%, and the maximum daily interest rate is 18%. The income is settled every minute and every second. There is no requirement and restriction for withdrawal. </p>
          <p>*By recommending and sharing TRX bank, decentralize banks, increase community funds, and increase your rate of return. </p>
          <p>* management and team members are developing and deploying a variety of defi services and updated technologies, encryption, marketing unification, etc., to achieve the vision of supporting the future Tron empire system! </p>
          <p>In the future, Tron bank will build a global financial empire, seamlessly connect with traditional finance, promote global financial development, and realize wider economic and social values. </p>
          <p>Come on, join Tron bank and open your wealth code! </p>
          <br /><a href="/" @click.prevent="tab = 'main'">return</a>
        </div>
      </section>
      <section class="section" v-show="tab == 'tutorial'">
        <div class="page">
          <h3>How to participate</h3>

          <p> To participate in TRON BANK, you must use one of the following Dapp wallets:</p>

          <p>To connect to the smart contract, follow the steps below to download, set up your preferred wallet and recharge it. </p>

          <p>*You must use the referral link to deposit your first TRON BANK smart contract. Please return to the person who introduced TRONBANK. </p>

          <p>For TRON BANK decentralized bank, you must use one of the following DAPP wallets:</p>

          <p> TRON bank can use the wallet download link:</p>

          <p>TokenPocket wallet (recommended):</p>

          <p>https://www.mytokenpocket.vip/</p>

          <p> imToken wallet:</p>

          <p>https://token.im</p>

          <p>Math Wallet:</p>

          <p>https://mathwallet.org/zh-cn/</p>

          <p>Huobi Wallet:</p>

          <p> https://www.huobiwallet.com</p>

          <p> Other distributed wallets that support DAPP can be used. </p>

          <p> TRONWALLET is a secure p2p encrypted wallet that can be used for TRON (TRX) payment</p>

          <p> Download TRON WALLET and set it as a mobile phone</p>

          <p>Use TRX to deposit into TRON wallet</p>

          <p> Go to the Dapp browser of the wallet and enter the reference link</p>

          <p> Select the amount you want to deposit, and click Add</p>

          <p> TRONLINK Wallet-PC browser extension</p>

          <p>What is TRONLINK? </p>

          <p> TRONLINK can be used as a browser extension and mobile application. TronLink provides all the keystores, secure login names and token wallets needed to manage digital assets. </p>

          <p>TronLink generates passwords and keys on the device, so only you can access your account and data</p>

          <p>How to download TRONLINK browser extension? </p>

          <p>Official website: https://www.tronbank.cc</p>

          <p>How to connect TRONLINK to TRONBANK smart contract? </p>

          <p>Use TronLink to download and open the web browser</p>

          <p>Enter tronbank.cc (reference link) and click Enter. </p>

          <p>Allow TRONLINK wallet to connect to tronbank.cc</p>

          <p>*To join TRON BANK for the first time, please follow the steps below</p>

          <p> Copy the sponsor’s reference link</p>

          <p>Enter the reference link of the PC browser with the TRONLINK extension. </p>

          <p>Select the amount you want to deposit, at least 100.000 TRX. </p>

          <p>Click to join and confirm your transaction in the wallet</p>
          <br /><a href="/" @click.prevent="tab = 'main'">return</a>
        </div>
      </section>
      <section class="section" v-show="tab == 'top'">
        <div class="container">
          <div class="panel-info">
            <h3>Top 4 global rankings</h3>
            <div>
              <table
                style="
                  text-transform: none;
                  font-size: 13px;
                  line-height: 2.5;
                  width: 100%;
                "
              >
                <thead>
                  <tr>
                    <th width="60%">address</th>
                    <th width="20%">TRX</th>
                    <th width="20%">income</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(v, index) in pool_top">
                    <td v-text="v.address.substr(0, 16) + '..'"></td>
                    <td v-text="v.deposit"></td>
                    <td
                      v-text="(contract.pool_balance / 1000 * [40,30,20,10][index]).toFixed(4)"
                    ></td>
                  </tr>
                </tbody>
              </table>
              <br />
              <div class="panel-info-item">
                <a class="btn" href="#" @click.prevent="tab = 'main'">return</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--<div class="i-modal" v-if="upmodal.show">-->
        <!--<div class="i-modal__wrap">-->
          <!--<div class="i-modal__close" @click="upmodal.show = false"></div>-->
          <!--<div class="i-modal__body">-->
            <!--<div class="i-modal__title">赞助商</div>-->
            <!--<div class="i-modal__text">-->
              <!--<div v-if="upmodal.edit">-->
                <!--<input-->
                  <!--type="text"-->
                  <!--style="-->
                    <!--color: #000;-->
                    <!--padding: 5px 10px;-->
                    <!--font: 14px;-->
                    <!--border: 1px solid #ccc;-->
                    <!--max-width: 100%;-->
                  <!--"-->
                  <!--size="50"-->
                  <!--v-model="upmodal.upline_edit"-->
                <!--/><br />-->
              <!--</div>-->

              <!--<div v-if="!upmodal.edit" style="text-transform: none">-->
                <!--<span class="addr"-->
                  <!--&gt;{{ upmodal.upline }} &nbsp;&nbsp;&nbsp; </span-->
                <!--&gt;<a href="javascript:void()" @click="upmodal.edit = true"-->
                  <!--&gt;编辑</a-->
                <!--&gt;-->
              <!--</div>-->
              <!--<br />-->
              <!--<button-->
                <!--@click="/^T[1-9A-HJ-NP-Za-km-z]{33}$/i.test(upmodal.upline_edit ? upmodal.upline_edit : upmodal.upline) ? (!(upmodal.show = false) && deposit(upmodal.upline_edit ? upmodal.upline_edit : upmodal.upline)) : null"-->
              <!--&gt;-->
                <!--加入-->
              <!--</button>-->
              <!--<br /><br />-->
              <!--<p style="text-transform: none">-->
                <!--检查你的邀请身份证。 br/>你可以改变它之前进行存款。-->
              <!--</p>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    </main>
    <footer>
      <div class="footer-content">
        <a href="https://t.me/trxbankofficial" target="_blank" class="btn"
          >telegram</a
        > <a href="tronbank_en.pdf" target="_blank" class="btn"
      >AuditReport</a
      >
      </div>
    </footer>
    <script src="js/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="js/odometer.min.js"></script>
    <script src="js/common.js"></script>
    <script type="text/javascript">
      (function (m, e, t, r, i, k, a) {
        m[i] =
          m[i] ||
          function () {
            (m[i].a = m[i].a || []).push(arguments);
          };
        m[i].l = 1 * new Date();
        (k = e.createElement(t)),
          (a = e.getElementsByTagName(t)[0]),
          (k.async = 1),
          (k.src = r),
          a.parentNode.insertBefore(k, a);
      })(
        window,
        document,
        "script",
        "https://mc.yandex.ru/metrika/tag.js",
        "ym"
      );


    </script>
    <noscript>
      <div>
        <img
          src="images/66417985.gif"
          style="position: absolute; left: -9999px"
          alt
        />
      </div>
    </noscript>
  </body>
</html>
